$primary: rgb(247, 214, 5);
$secondary: rgb(217, 42, 66);
$title-font: 'Nerko One', cursive;
$text-font: 'Yeon Sung', cursive;;

.hidden {
  display: none;
}

.d-flex {
  display: flex;
}

#content {
  flex-direction: column;
  z-index: -1;
}

.nav {
  justify-content: space-around;
  align-items: center;
  padding: 10px 50px;
  background-color: $primary;
  img {
    width: 140px;
  }
  &-menu {
    justify-content: space-between;
    width: 480px;
    &-item {
      font-family: $title-font;
      font-size: 40px;
      letter-spacing: 1.1px;
      color: $secondary;
      &:hover {
        cursor: pointer;
        animation: color-change 0.5s infinite;
          @keyframes color-change {
            0% { color: $secondary; }
            50% { color: $primary; }
            100% { color: $secondary; }
          }
      }
    }
  }
}

.home {
  width: 100%;
  height: max-content;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mask {
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  &-content {
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;

    &-title {
      font-family: $text-font;
      font-size: 75px;
      color: $secondary;
      margin-bottom: 40px;
      text-shadow: 1px 1px $primary;
      letter-spacing: 1px;
    }
    &-text {
      font-family: $text-font;
      font-size: 30px;
      color: white;
      line-height: 35px;
      letter-spacing: 1px;
      background-color: rgba(253, 240, 213, 0.7);
      border-radius: 15px;
      padding: 20px;
      color: black;
    }
  }
}

.menu {
  padding: 100px 0;
  &-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    grid-gap: 30px;
    width: 90%;
    margin: 0 auto;
    &-item1 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 60%;
      margin: 0 auto;
      &-img {
        width: 370px;
      }
      &-title {
        font-family: $text-font;
        font-size: 35px;
        align-self: flex-start;
        margin-top: 30px;
      }
      &-price {
        font-family: $text-font;
        font-size: 45px;
        align-self: flex-start;
        margin-top: 20px;
      }
    }
    &-item2 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 63%;
      margin: 0 auto;
      &-img {
        width: 400px;
      }
      &-title {
        font-family: $text-font;
        font-size: 35px;
        align-self: flex-start;
        margin-top: 30px;
      }
      &-price {
        font-family: $text-font;
        font-size: 45px;
        align-self: flex-start;
        margin-top: 20px;
      }
    }
    &-item3 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 58%;
      margin: 0 auto;
      &-img {
        width: 400px;
      }
      &-title {
        font-family: $text-font;
        font-size: 35px;
        align-self: flex-start;
        margin-top: 30px;
      }
      &-price {
        font-family: $text-font;
        font-size: 45px;
        align-self: flex-start;
        margin-top: 20px;
      }
    }
    &-item4 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 65%;
      margin: 0 auto;
      &-img {
        width: 470px;
      }
      &-title {
        font-family: $text-font;
        font-size: 35px;
        align-self: flex-start;
        margin-top: 30px;
      }
      &-price {
        font-family: $text-font;
        font-size: 45px;
        align-self: flex-start;
        margin-top: 20px;
      }
    }
    &-item5 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 65%;
      margin: 0 auto;
      &-img {
        width: 480px;
      }
      &-title {
        font-family: $text-font;
        font-size: 35px;
        align-self: flex-start;
        margin-top: 30px;
      }
      &-price {
        font-family: $text-font;
        font-size: 45px;
        align-self: flex-start;
        margin-top: 20px;
      }
    }
    &-item6 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 53%;
      margin: 0 auto;
      &-img {
        width: 345px;
      }
      &-title {
        font-family: $text-font;
        font-size: 35px;
        align-self: flex-start;
        margin-top: 30px;
      }
      &-price {
        font-family: $text-font;
        font-size: 45px;
        align-self: flex-start;
        margin-top: 20px;
      }
    }
    &-item7 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 53%;
      margin: 0 auto;
      &-img {
        width: 340px;
      }
      &-title {
        font-family: $text-font;
        font-size: 35px;
        align-self: flex-start;
        margin-top: 30px;
      }
      &-price {
        font-family: $text-font;
        font-size: 45px;
        align-self: flex-start;
        margin-top: 20px;
      }
    }
    &-item8 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 53%;
      margin: 0 auto;
      &-img {
        width: 360px;
      }
      &-title {
        font-family: $text-font;
        font-size: 35px;
        align-self: flex-start;
        margin-top: 30px;
      }
      &-price {
        font-family: $text-font;
        font-size: 45px;
        align-self: flex-start;
        margin-top: 20px;
      }
    }
  }
}

.contact {
  padding: 100px 0;
  background-color: $primary;
  &-box {
    width: 50%;
    margin: 0 auto;
    &-form {
      flex-direction: column;
      &-label {
        font-family: $text-font;
        font-size: 35px;
        margin-bottom: 20px;
      }
      &-input {
        font-family: $text-font;
        font-size: 25px;
        margin-bottom: 40px;
        padding: 8px;
        border: none;
        border-bottom: 1px solid $secondary;
        width: 50%;
        background-color: rgb(255, 237, 120);
        color: $secondary;
      }
      &-text {
        font-family: $text-font;
        font-size: 25px;
        height: 300px;
        background-color: rgb(255, 237, 120);
        color: $secondary;
        padding: 15px;
        margin-bottom: 30px;
      }
      &-btn {
        font-family: $title-font;
        font-size: 35px;
        width: 180px;
        height: 60px;
        letter-spacing: 1.7px;
        background-color: $secondary;
        color: $primary;
        &:hover {
          cursor: pointer;
          animation: color-change 0.5s infinite;
            @keyframes color-change {
              0% { color: $secondary; }
              50% { color: $primary; }
              100% { color: $secondary; }
            }
        }
      }
    }
  }
}

.footer {
  height: 120px;
  background-color: black;
  &-box {
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    &-item {
      width: 60px;
      height: 60px;
      filter: invert(100%) sepia(96%) saturate(18%) hue-rotate(266deg) brightness(105%) contrast(104%);
      &:hover {
        cursor: pointer;
        animation: bounce 1s linear;
      }
      @keyframes bounce {
        20%,50%,80%,to{
          transform: translateY(0);
        }
        40%{
          transform: translateY(-11px);
        }
        70%{
          transform: translateY(-6px);
        }
        90%{
          transform: translateY(-3px);
        }
      }
    }
    &-item2 {
      width: 50px;
      height: 50px;
      filter: invert(100%) sepia(96%) saturate(18%) hue-rotate(266deg) brightness(105%) contrast(104%);
      &:hover {
        cursor: pointer;
        animation: bounce 1s linear;
      }
      @keyframes bounce {
        20%,50%,80%,to{
          transform: translateY(0);
        }
        40%{
          transform: translateY(-11px);
        }
        70%{
          transform: translateY(-6px);
        }
        90%{
          transform: translateY(-3px);
        }
      }
    }
  }
}